body {
	background-color: #052D37;
}

table,th,td {
    background-color: #05D37;/*For table*/
    border-style: solid;
    border-collapse: collapse;
    border-color: #052D37;
}

.head {
    text-align: center;
    font-size: 50px;
    font-family: Papyrus;
    color: #FFFF00;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.tom1 {
	cursor: pointer;
	width: 200px;
	height: 125px;
	float: right;
}

.tom2 {
	cursor: pointer;
	width: 200px;
	height: 125px;
	float: left;
}

.bass3 {
	cursor: pointer;
	width: 375px;
	height: 375px;
}

.floor4 {
	cursor: pointer;
	width: 150px;
	height: 250px;
	float: right;
}

.snare5 {
	cursor: pointer;
	width: 200px;
	height: 300px;
	float: right;
}

.ride6 {
	cursor: pointer;
	width: 275px;
	height: 500px;
}

.crash7 {
	cursor: pointer;
	width: 275px;
	height: 500px;
}

